/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.snow.css';
@import '~fullcalendar/dist/fullcalendar.css';
@import '~prismjs/themes/prism.css';
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.css";
@import "../../../theme/sass/core/theme";
@import "../../../theme/sass/core/layout";
@import "../../../theme/sass/core/grid";
@import "../../../theme/sass/core/font-sizes";
@import "../../../theme/sass/core/icon";
@import "../../../theme/sass/core/spacing";
//@import "~primeng/resources/themes/nova-light/theme.css";


:root {
  font-size: 62.5%;
}

@include make-grid();
//@include setup-fonts();
//@include setup-spacing();
//@include ui-icon();
@include layout();
@include theme();
