<div class="layout-wrapper">
  <div class="layout-toolbar">
    <button class="primary-button side-nav-toggle side-nav-side-permanent mr" pButton
            type="button" icon="material-icons ui-icon-menu"
            (click)="toggleLeftMenu()"></button>
    <div class="brand">
      <h2><a class="brand-title">Primeng components</a></h2>
    </div>
    
    <div class="ui-toolbar-group-right">

    </div>
  </div>

  <div class="layout-content">
    <div class="side-nav-container ">
      <nav class="side-nav-side side-nav-side-left side-nav-side-permanent"
           [class.side-nav-side-open]="leftMenuOpen">
        <p-panelMenu [model]="navigationMenuItems"></p-panelMenu>
      </nav>


      <div class="side-nav-content app-side-nav-content p-xl">
        <router-outlet></router-outlet>
      </div>

      <nav class="side-nav-side side-nav-side-right"
           [class.side-nav-side-open]="rightMenuOpen">
        right
      </nav>
    </div>
  </div>
</div>
