@mixin ui-breadcrumb(
  $background: transparent,
  $color:$default-text-color
) {
  &.ui-breadcrumb {
    padding: var(--spacer-md);
    background: transparent;
    border: none;

    .ui-breadcrumb-chevron, .ui-breadcrumb-home, .ui-menuitem-text {
      background-color: $background;
      color: $color;
      @include font-size-regular();
    }
  }
}
