@mixin ui-button-base(
  $primary: $primary,
  $accent: $accent,
  $primary-text-color:$primary-text-color,
  $accent-text-color:$accent-text-color,
  $hover:$hover
) {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  border: 0 none;
  border-radius: $borderRadius;

  background-color: $primary;
  color: $primary-text-color;
  font-weight:var(--font-weight-medium);
  text-transform: uppercase;

  padding: 0 var(--spacer-md);
  min-width: $button-min-width;
  height: $button-height;
  vertical-align: bottom;

  @include ui-shadow-2;

  &:focus {
    outline: 0 none;
  }

  &:enabled {
    &:focus, &:active, &:hover {
      background-color: $primary;
      color: $primary-text-color;
    }
    &:active {
      @include ui-shadow-3;
    }
  }

  &.ui-state-active {
    background-color: $primary;
    color: $primary-text-color;
    &:focus, &:active, &:hover {
      background-color: $primary;
      color: $primary-text-color;
    }
  }

  &.ui-button-icon-only {
    border-radius: 50%;
    min-width: $button-height;
    width: $button-height;
    height: $button-height;
    padding: 0;
    background-color: $accent;
    color: $accent-text-color;
    align-items: center;
    justify-content: center;

    .ui-button-icon-right, .ui-button-icon-left {
      position: static;
      margin: 0 auto;
    }

    .ui-button-text {
      display: none;
    }

    &:enabled {
      &:focus, &:active, &:hover {
        background-color: $accent;
        color: $accent-text-color;
      }
    }
  }

  &.ui-button-icon-only, &.ui-button-text-only, &.ui-button-text-icon-right, &.ui-button-text-icon-left {
    .ui-button-text {
      padding: 0;
    }
  }
  &.ui-button-text-icon-right, &.ui-button-text-icon-left {
    .ui-button-icon-right, .ui-button-icon-left {
      position: static;
      margin: 0;
    }
    .ui-button-icon-right {
      margin-left: var(--spacer-sm);
    }
    .ui-button-icon-left {
      margin-right: var(--spacer-sm);
    }
  }
  &.ui-button-text-icon-right {
    flex-direction: row-reverse;
  }
  @include ui-button-flat();

}

@mixin ui-button(
  $element:"&.ui-button",
  $primary: $primary,
  $accent: $accent,
  $primary-text-color:$primary-text-color,
  $accent-text-color:$accent-text-color
) {
  #{$element} {
    @include ui-button-base($primary, $accent, $primary-text-color, $accent-text-color);
  }
}

@mixin ui-button-secondary(
  $element:"&.ui-button.ui-button-secondary",
  $primary: $default,
  $accent: $default,
  $primary-text-color:$default-text-color,
  $accent-text-color:$default-text-color
) {
  #{$element} {
    @include ui-button-base($primary, $accent, $primary-text-color, $accent-text-color);
  }
}

@mixin ui-button-info(
  $element:"&.ui-button.ui-button-info",
     $primary: $info,
     $accent: $info,
     $primary-text-color:$info-text-color,
     $accent-text-color:$info-text-color
) {
  #{$element} {
    @include ui-button-base($primary, $accent, $primary-text-color, $accent-text-color);
  }
}

@mixin ui-button-success($element:"&.ui-button.ui-button-success",
   $primary: $success,
   $accent: $success,
   $primary-text-color:$success-text-color,
   $accent-text-color:$success-text-color
) {
  #{$element} {
    @include ui-button-base($primary, $accent, $primary-text-color, $accent-text-color);
  }
}

@mixin ui-button-warning(
  $element:"&.ui-button.ui-button-warning",
  $primary: $warn,
  $accent: $warn,
  $primary-text-color:$warn-text-color,
  $accent-text-color:$warn-text-color
) {
  #{$element} {
    @include ui-button-base($primary, $accent, $primary-text-color, $accent-text-color);
  }
}

@mixin ui-button-danger(
  $element:"&.ui-button.ui-button-danger",
  $primary: $danger,
  $accent: $danger,
  $primary-text-color:$danger-text-color,
  $accent-text-color:$danger-text-color
) {
  #{$element} {
    @include ui-button-base($primary, $accent, $primary-text-color, $accent-text-color);
  }
}

@mixin ui-button-flat(
  $element:"&.flat"
) {
  #{$element} {
    box-shadow: none;
    background: transparent;
    color: $default-text-color;
    &.ui-button-text-icon-right, &.ui-button-text-icon-left {
      .ui-button-icon-right, .ui-button-icon-left {
        color: $default-text-color;
      }
    }

    &:enabled {
      &:focus, &:active {
        box-shadow: none;
        background: transparent;
        color: $default-text-color;
      }
      &:hover {
        background-color: $hover;
        color: $default-text-color;
      }
    }
    &.ui-button-icon-only {
      background-color: $accent;
      color: $accent-text-color;

      &:enabled {
        &:focus, &:active {
          background-color: $accent;
          color: $accent-text-color;
        }
        &:hover {
          background-color: $accent;
          color: $accent-text-color;
        }
      }
    }
  }
}

@mixin ui-buttonset($border-color:$default) {
  &.ui-buttonset {
    border-radius: $borderRadius;
    @include ui-shadow-2;
    .ui-button {
      box-shadow: none;
      &:first-child {
        border-radius: $borderRadius 0 0 $borderRadius;
      }
      &:last-child {
        border-radius: 0 $borderRadius $borderRadius 0;
      }

      &:not(:last-child) {
        border-right: 1px solid $border-color;
        &:not(:first-child) {
          border-radius: 0;
        }
      }
      &.ui-splitbutton-menubutton {
        border: none;
      }
    }
  }
}

@mixin ui-button-reset() {
  padding: 0;
  margin: 0;
  height: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  min-width: 0;
  border-radius: 0;

  &:focus, &:active, &:hover {
    box-shadow: none;
    background: none;
    color: inherit;
  }

  &.enabled, &.ui-button-icon-only {
    &:focus, &:active, &:hover {
      box-shadow: none;
      background: none;
      color: inherit;
    }
  }

}
