@mixin ui-datalist {
  &.ui-datalist {
    .ui-datalist-header {
      padding: var(--spacer-md);
      background-color: transparent;
      border-color: $border-color;
      color: $default-text-color;

      &:empty {

      }
    }
    .ui-datalist-content {
      padding: var(--spacer-md);
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;

    }
    .ui-datalist-footer {
      background-color: transparent;
      border-color: $border-color;
      color: $default-text-color;
    }
  }
}

