@mixin ui-fileupload(
  $primary: $primary,
  $accent: $accent,
  $primary-text-color:$primary-text-color,
  $accent-text-color:$accent-text-color,
  $border-color:$border-color
) {
  &.ui-fileupload {
    .ui-fileupload-buttonbar {
      background-color: transparent;
      border-color: transparent;
      padding: 0 0 $margin-small 0;
    }
    .ui-button {
      border-color: transparent;
      background-color: $primary;
      color: $primary-text-color;

      &:not(.ui-state-disabled):hover {
        border-color: transparent;
        background-color: $primary;
        color: $primary-text-color;
      }
    }
    .ui-fileupload-content {
      border: 2px solid $border-color;
      border-style: dashed;
    }
  }
}
