@import '../vars/vars';

@mixin ui-inputswitch($checked: $accent, $unchecked: $white, $slider: $slider-color, $slider-checked: $accent-lighter ) {
  $width: 34px;
  $slider-height: 14px;
  $handle-size: 20px;
  &.ui-inputswitch {
    width: $width !important;
    height: $slider-height;

    .ui-inputswitch-slider {
      border-radius: 8px;
      width: $width !important;
      height: $slider-height;
      background-color: $slider;

      &:before {
        background-color: $unchecked;
        transition: background-color 0.3s;
        @include ui-shadow-2;
        width: 20px !important;
        height: 20px !important;
        border-radius: 50%;
        top: ($handle-size - $slider-height) / -2;
        left: 0;
      }
    }

    &.ui-inputswitch-checked {
      .ui-inputswitch-slider {
        background-color: $slider-checked;

        &:before {
          background-color: $checked;
          color: #000000;
          transform: translateX($width - $handle-size);
        }
      }
    }

    &:hover {
      .ui-inputswitch-slider {
        background-color: $slider;
      }

      &.ui-inputswitch-checked {
        .ui-inputswitch-slider {
          background-color: $slider-checked;
        }
      }
    }
  }
}
