@mixin ui-progressbar(
  $background: $border-color,
  $accent: $primary
) {

  &.ui-progressbar {
    height: 4px;
    background-color: $background;
    margin-top: var(--spacer-md);
    overflow: visible;

    .ui-progressbar-value {
      background-color: $accent;
    }
    .ui-progressbar-label {
      color: $default-text-color;
      @include font-size-small();
      position: absolute;
      top: calc(-1em - #{var(--spacer-xs)});
      text-align: left;
    }
  }
}
