@import "overlaypanel";

@mixin ui-sidebar() {
  &.ui-sidebar {
    background-color: var(--default);
    padding: var(--spacer-md);

    .ui-sidebar-close {
      position: absolute;
      top: var(--spacer-sm);
      right: var(--spacer-sm);
      @include overlay-close(transparent, var(--hover));
    }

    &.ui-sidebar-sm, &.ui-sidebar-md, &.ui-sidebar-lg {
      width: var(--side-nav-width);
    }
  }
}
