@mixin ui-tieredmenu($background:$default) {
  &.ui-tieredmenu {
    @include ui-tiered-submenu($background);
    padding: var(--spacer-sm) 0;
  }
}

@mixin ui-tiered-submenu($background:$default) {
  @include ui-submenu();
  .ui-menu-list {
    .ui-menuitem {
      .ui-submenu {
        .ui-menu-child {
          padding: var(--spacer-sm) 0;
          background-color: $background;
        }
      }
    }
  }
}
