@import "datatable";
@import "inputtext";
@import "calendar";

@mixin ui-treetable(
  $primary: $primary,
  $accent: $accent,
  $primary-text-color:$primary-text-color,
  $accent-text-color:$accent-text-color,
  $border-color:$border-color
) {
  $border-radius: $borderRadius;

  &.ui-treetable {
    .ui-treetable-caption,
    .ui-treetable-summary {
      border: 1px solid var(--border-color);
      padding: 0.571em 1em;
      text-align: center;
    }

    .ui-treetable-caption {
      border-bottom: 0 none;
      font-weight: 700;
    }

    .ui-treetable-summary {
      border-top: 0 none;
      font-weight: 700;
    }

    .ui-treetable-thead > tr > th {
      padding: 0.571em 0.857em;
      border: 1px solid var(--border-color);
      font-weight: 700;
    }

    .ui-treetable-tbody > tr > td {
      padding: 0.571em 0.857em;
    }

    .ui-treetable-tfoot > tr > td {
      padding: 0.571em 0.857em;
      border: 1px solid var(--border-color);
      font-weight: 700;
    }

    .ui-sortable-column .ui-sortable-column-icon {
      color: var(--icon-dark-active-color);
    }

    .ui-sortable-column:not(.ui-state-highlight):hover {

    }

    .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {

    }

    .ui-sortable-column.ui-state-highlight {

    }

    .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {

    }

    .ui-editable-column input {
      font-size: 14px;
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
    }

    .ui-editable-column input:focus {
      outline: 1px solidvar(--primary);
      outline-offset: 2px;
    }

    .ui-treetable-tbody > tr {
      background-color: #ffffff;
      color: #333333;
    }

    .ui-treetable-tbody > tr > td {
      background-color: inherit;
      border: 1px solid var(--border-color);
    }

    .ui-treetable-tbody > tr > td .ui-treetable-toggler {
      color: var(--icon-dark-active-color);
      vertical-align: middle;
    }

    .ui-treetable-tbody > tr > td .ui-treetable-chkbox {
      vertical-align: middle;
      margin-right: 0.5em;
    }

    .ui-treetable-tbody > tr.ui-state-highlight {
      background-color: var(--primary);
      color: var(--primary-text-color);
    }

    .ui-treetable-tbody > tr.ui-state-highlight > td {
      background-color: inherit;
      border: 1px solid var(--border-color);
    }

    .ui-treetable-tbody > tr.ui-state-highlight > td .ui-treetable-toggler {
      color: #ffffff;
    }

    .ui-treetable-tbody > tr.ui-contextmenu-selected {
      background-color: var(--primary);
      color: #ffffff;
    }

    .ui-treetable-tbody > tr.ui-contextmenu-selected > td {
      background-color: inherit;
      border: 1px solid var(--border-color);
    }

    .ui-treetable-tbody > tr.ui-contextmenu-selected > td .ui-treetable-toggler {
      color: #ffffff;
    }

    .ui-treetable.ui-treetable-hoverable-rows .ui-treetable-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
      cursor: pointer;
      background-color: #eaeaea;
      color: #333333;
    }

    .ui-column-resizer-helper {
      background-color: var(--primary);
    }
  }

}
