@import "vars/vars";

@mixin card() {
  @include ui-shadow-content();
  border-radius: var(--border-radius);
  background: $default;
  padding: var(--spacer-md);
  margin: var(--spacer-md) 0;

  box-sizing: border-box;
  &.card-w-title {
    padding-bottom: var(--spacer-xl);
  }
}
