$font-size-small: 12px;


@mixin setup-fonts() {


  body {
    --font-size-small: 1.2rem;
    --font-size-base: 1.4rem;
    --font-size-regular: var(--font-size-base);
    --font-size-medium: 1.6rem;

    --font-size-h1: 4.5rem;
    --font-size-h2: 2.0rem;
    --font-size-h3: 1.4rem;
    --font-size-h4: 1.4rem;

    --font-weight-base: 400;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-base);

    h1 {
      font-size: var(--font-size-h1);
      font-weight: var(--font-weight-base);
    }

    h2 {
      font-size: var(--font-size-h2);
      font-weight: var(--font-weight-base);

    }

    h3 {
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-base);

    }

    h4 {
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-base);
    }
  }


  $font-sizes: (
    small: var(--font-size-small),
    sm: var(--font-size-small),
    regular: var(--font-size-regular),
    medium: var(--font-size-medium),
    md: var(--font-size-medium),
    h1: var(--font-size-h1),
    h2: var(--font-size-h2),
    h3: var(--font-size-h3),
    h4: var(--font-size-h4)
  );

  $font-weights: (
    small: var(--font-weight-base),
    sm: var(--font-weight-base),
    regular: var(--font-weight-base),
    medium: var(--font-weight-base),
    md: var(--font-weight-base),
    h1: var(--font-weight-base),
    h2: var(--font-weight-base),
    h3: var(--font-weight-base),
    h4: var(--font-weight-base)
  );

  @include createTextClasses($font-sizes, $font-weights);
}

@mixin createTextClasses($font-sizes,$font-weights) {
  @each $size, $length in $font-sizes {
    .text-#{$size} {
      //margin: 0;s
      font-size: $length !important;
      font-weight: map_get($font-weights, $size) !important;
    }
  }
}

@mixin font-size-small() {
  font-size: var(--font-size-small);
}

@mixin font-size-regular() {
  font-size: var(--font-size-base);
}

@mixin font-size-medium() {
  font-size: var(--font-size-medium);
}

@mixin font-size-headline3() {
  font-size: var(--font-size-h3);
}

@mixin font-size-headline2() {
  font-size: var(--font-size-h2);
}

@mixin font-size-headline1() {
  font-size: var(--font-size-h1);
}
