@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url("../../../node_modules/roboto-fontface/fonts/roboto/Roboto-Thin.woff") format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("../../../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff") format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("../../../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url("../../../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("../../../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../../node_modules/material-icons-font/fonts/MaterialIcons-Regular.woff") format('woff');
}
