@import "~coffeekraken-gridle/flex";

$mobileSmallBreakpoint: 320px;
$mobileMediumBreakpoint: 375px;
$mobileLargeBreakpoint: 425px;
//sm
$tabletBreakpoint: 768px;
//md
$laptopSmallBreakpoint: 1024px;
//lg
$laptopMediumBreakpoint: 1200px;
//xl
$laptopLargeBreakpoint: 1440px;
$fourKBreakpoint: 2560px;


$smStartBreakpoint: $tabletBreakpoint;
$mdStartBreakpoint: $laptopSmallBreakpoint;
$lgStartBreakpoint: $laptopMediumBreakpoint;
$xlStartBreakpoint: $laptopLargeBreakpoint;

@mixin register-states() {
  @include g-register-state(xs, (
    min-width : 0
  ));
  @include g-register-state(sm, (
    min-width : $smStartBreakpoint
  ));
  @include g-register-state(md, (
    min-width : $mdStartBreakpoint
  ));
  @include g-register-state(lg, (
    min-width : $lgStartBreakpoint
  ));
  @include g-register-state(xl, (
    min-width : $xlStartBreakpoint
  ));

  @include g-register-state(xs-up, (
    min-width : 0
  ));
  @include g-register-state(sm-up, (
    min-width : $smStartBreakpoint
  ));
  @include g-register-state(md-up, (
    min-width : $mdStartBreakpoint
  ));
  @include g-register-state(lg-up, (
    min-width : $lgStartBreakpoint
  ));
  @include g-register-state(xl-up, (
    min-width : $xlStartBreakpoint
  ));

  @include g-register-state(xs-only, (
    min-width : 0, max-width:$smStartBreakpoint - 1px
  ));
  @include g-register-state(sm-only, (
    min-width : $smStartBreakpoint, max-width:$mdStartBreakpoint - 1px
  ));
  @include g-register-state(md-only, (
    min-width : $mdStartBreakpoint, max-width:$lgStartBreakpoint - 1px
  ));
  @include g-register-state(lg-only, (
    min-width : $lgStartBreakpoint, max-width:$xlStartBreakpoint - 1px
  ));
  @include g-register-state(xl-only, (
    min-width : $xlStartBreakpoint
  ));

  @include g-register-state(xs-down, (
    max-width: 0
  ));
  @include g-register-state(sm-down, (
    max-width: $smStartBreakpoint - 1px
  ));
  @include g-register-state(md-down, (
    max-width: $mdStartBreakpoint - 1px
  ));
  @include g-register-state(lg-down, (
    max-width: $lgStartBreakpoint - 1px
  ));
  @include g-register-state(xl-down, (
    max-width : $xlStartBreakpoint - 1px
  ));
}

@mixin make-grid() {

  // setting up the grid
  @include g-setup((
    context : 12,
    gutter-width : 0px, // size of the gutters
    gutter-left : 0px, // 'size of left gutter
    gutter-right : 0px, // size of right gutter
  ));

  @include register-states();
  @include g-init();
  @include g-classes();


  body {

    --mobile-small-breakpoint: #{$mobileSmallBreakpoint};
    --mobile-medium-breakpoint: #{$mobileMediumBreakpoint};
    --mobile-large-breakpoint: #{$mobileMediumBreakpoint};
    //sm
    --sm-start-breakpoint: #{$tabletBreakpoint};
    --sm-breakpoint: var(--sm-start-breakpoint);
    --tablet-breakpoint: var(--sm-start-breakpoint);
    //md
    --md-start-breakpoint: #{$laptopSmallBreakpoint};
    --md-breakpoint: var(--md-start-breakpoint);
    --laptop-small-breakpoint: var(--md-start-breakpoint);
    //lg
    --lg-start-breakpoint: #{$laptopMediumBreakpoint};
    --lg-breakpoint: var(--lg-start-breakpoint);
    --laptop-medium-breakpoint: var(--lg-start-breakpoint);
    //xl
    --xl-start-breakpoint: #{$laptopLargeBreakpoint};
    --xl-breakpoint: var(--xl-start-breakpoint);
    --laptop-large-breakpoint: var(--xl-start-breakpoint);
    --four-k-breakpoint: #{$fourKBreakpoint};
  }

}
