@import "vars/vars";

@mixin layout($extra-class:'') {

  body {
    .form-field {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      padding-bottom: var(--spacer-md);

      > label {
        font-size: var(--font-size-small);
        min-height: var(--font-size-small);
        max-height: var(--font-size-small);
        //color: var(--primary);
      }

      > .error {
        color: var(--danger);
        font-size: var(--font-size-small);
        margin-top: var(--spacer-xs);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      > .hint {
        font-size: var(--font-size-small);
        margin-top: var(--spacer-xs);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .error ~ .hint {
        display: none;
      }
    }

    .circle {
      border-radius: 50%;
    }
  }

}
