@import "vars/vars";

@mixin layout($extra-class:'') {

  body {
    .form-field {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      padding-bottom: var(--spacer-md);

      > label {
        font-size: var(--font-size-small);
        min-height: var(--font-size-small);
        max-height: var(--font-size-small);
        //color: var(--primary);
      }

      > .error {
        color: var(--danger);
        font-size: var(--font-size-small);
        margin-top: var(--spacer-xs);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      > .hint {
        font-size: var(--font-size-small);
        margin-top: var(--spacer-xs);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .error ~ .hint {
        display: none;
      }

      &.form-field-outline {
        .ui-inputtext {
          padding: var(--spacer-sm);
          border: 1px solid var(--border-color);
          transition: border-color 0.3s;
          border-radius: 4px;

          &:focus, &.ui-state-focus {
            border-width: 2px;
            border-color: var(--primary);
          }
        }
      }
    }

    .circle {
      border-radius: 50%;
    }
  }

}
