@import "vars/default-css-vars";
@import "vars/vars";
@import "spacing";
@import "utils";
@import "reset";
@import "fonts";
@import "ripple";
@import "shadow";
@import "wrappers/input-field";
@import "wrappers/table-filter";
@import "wrappers/pager";
@import "primeng_theme";
@import "components/widget";
@import "card";

@mixin theme($extra-class:'') {
  :root {
    font-size: 16px;
  }

  body#{$extra-class} {

    font-family: "Roboto", "Helvetica Neue", sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;

    .card {
      @include card();
    }

    @include font-size-regular();

    a {
      text-decoration: none;
      cursor: hand;
      color: var(--default-text-color);
    }

    ul {
      list-style: none;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: $border-color;
    }

    .divider {
      @include divider();
    }

    > .ui-widget-content {
      &.ui-autocomplete-panel {
        @include ui-autocomplete-panel();
      }

      &.ui-datepicker {
        @include ui-datepicker();
      }

      &.ui-autocomplete-panel, &.ui-datepicker {
        background: $default;
      }
    }


    @include primeng-theme();
    @include ui-icon();
    @include ui-widget();
    @include md-inputfield();
    @include ui-float-label();
    @include input-field();
    @include table-filter();
    @include pager();

    h1 {
      @include font-size-headline1();
    }

    h2 {
      @include font-size-headline2();
    }

    h3 {
      @include font-size-headline3();
    }

    h4 {
      @include font-size-headline3();
    }
  }

  @include generateColorClasses();


}

$colors: white,
black,
primary,
primary-lighter,
primary-darker,
accent,
accent-lighter,
accent-darker,
default,
info,
success,
warn,
danger,
border,
hover;


@mixin generateColorClasses() {
  @each $name in $colors {
    .color-#{$name} {
      color: var(--#{$name}) !important;
    }
    .background-#{$name} {
      background-color: var(--#{$name}) !important;
    }
  }
}
