@import "vars/default-css-vars";

@import "spacing";
@import "font-sizes";
@import "icon";
@import "utils";
@import "ripple";
@import "shadow";
@import "wrappers/input-field";
@import "wrappers/table-filter";
@import "wrappers/pager";
@import "primeng_theme";
@import "components/widget";
@import "card";

@mixin theme($extra-class:'') {


  :root {
    font-size: 62.5%;
  }

  @include setup-spacing();
  @include setup-fonts();
  @include ui-icon();

  body#{$extra-class} {
    text-decoration: none;
    margin: 0;
    padding: 0;

    .card {
      @include card();
    }

    a {
      text-decoration: none;
      cursor: hand;
      color: var(--default-text-color);
    }

    ul {
      list-style: none;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: var(--border-color);
    }

    .divider {
      @include divider();
    }

    > .ui-widget-content {
      &.ui-autocomplete-panel {
        @include ui-autocomplete-panel();
      }

      &.ui-datepicker {
        @include ui-datepicker();
      }

      &.ui-autocomplete-panel, &.ui-datepicker {
        background: var(--default);
      }
    }


    @include primeng-theme();

    @include ui-widget();
    @include md-inputfield();
    @include ui-float-label();
    @include input-field();
    @include table-filter();
    @include pager();
  }

  @include generateColorClasses();


}

$colors: white,
black,
primary,
primary-lighter,
primary-darker,
accent,
accent-lighter,
accent-darker,
default,
info,
success,
warn,
danger,
border,
hover;


@mixin generateColorClasses() {
  @each $name in $colors {
    .color-#{$name} {
      color: var(--#{$name}) !important;
    }
    .background-#{$name} {
      background-color: var(--#{$name}) !important;
    }
  }
}
